body {
    background-color: rgb(72, 139, 117);
}

img{
    width: 200px; /*Ancho de la imagen*/
    height: 200px; /*Alto de la imagen*/
}

tr:hover{
    background-color: azure;
}

input{
    height: 30px;
    border-radius: 2px;
    border: 2px solid orange;
    
}

#nombrepersona{
    height: 15px;
}
h1{
    height: 60px;
}