body {
    background-color: rgb(4, 99, 67);
}

img{
    width: 200px; /*Ancho de la imagen*/
    height: 200px; /*Alto de la imagen*/
}

tr:hover{
    background-color: azure;
}

input{
    border-radius: 2px;
    border: 2px solid orange;
    
}

#nombrepersona{
    height: 15px;
}